*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# iOS (XcodeGen sinh ra từ iosApp/project.yml)
iosApp/iosApp.xcodeproj/
iosApp/iosApp/Info.plist
xcuserdata/
*.xcworkspace/
Pods/
DerivedData/

/shared/build
*.log
